body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#665;
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url("jujutsukaisen_hands.jpg");
  min-height:100%;
}

.pimg2{
  background-image:url("spear_goH.jpg");
  min-height:400px;
}

.pimg3{
  background-image:url("eyes_aot.webp");
  min-height:400px;
}
.pimg4{
  background-image:url("hxh_.jpg");
  min-height:400px;
}
.pimg5{
  background-image:url("black_clover.jpg")
  min-height:400px;
}
.pimg6{
  background-image:url("black_clover.jpg");
  min-height:400px;
}
.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#4C4C4C;
  color:#000000;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}
.pimg1 .ptext .color {
    color: #000000;
}
.pimg2 .ptext .color {
}
.color2 {
    color: #829ED3;
}
.color5 {
    color: #E7E682;
}
.color6 {
    color: #F96766;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
.color {
}
.color2 {
    color: #F5FEFE;
}
.color3 {
    color: #7BBB9F;
}
.color4 {
    color: #8A785F;
}
.color4 {
}
.color5 {
}
.color6 {
}
.color7 {
    color: #DFD9C6;
}
.border .color6 {
}
.color7 {
}
